.choice-container {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 2rem;
  border: 0.1rem solid blue;
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 1.5rem 0 red;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: blue;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: rgb(255, 123, 0);
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#timer {
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
}
