/* Google Font link */

:root {
  background-color: red;
  font-family: "Bungee", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5rem;
  color: white;
  margin-bottom: 4rem;
}

h1 > span {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

/* Utilities */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* Buttons styling */
.btn {
  font-size: 2rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.2rem solid blue;
  margin-bottom: 1rem;
  text-decoration: none;
  color: blue;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 1.5rem 0 red;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: non-allowed;
  box-shadow: none;
  transform: none;
}
